---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: tenants
  namespace: flux-system
spec:
  interval: 10m0s
  prune: true
  wait: false
  force: false
  path: ./kubernetes/tenants/overlays/cluster-01
  sourceRef:
    kind: GitRepository
    name: flux-system
  dependsOn:
    - name: platform-namespaces
      namespace: flux-system
